<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/main.css" type = "text/css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Travelog</title>
</head>
<body style="background-color: #e0e0e0;">

    <nav class="navbar navbar-default" style="background: #e0e0e0; border-bottom: #ffffff;">
        <div class="container-fluid">
            <div class="navbar-header" style="padding-left: 3%;padding-right: 3%;">
                <a class="navbar-brand" href="/">Travelog</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://www.linkedin.com/in/navin-ganesh-pandiyan-r-k-496801174/">About Me</a></li>
                </ul>
            </div>
        </div>
    </nav>
    

<!-- <img src="https://drive.google.com/file/d/1ZKoKUzSOyFvxLyvVOkw5LFMDFb--08Zn/view?usp=sharing" alt="image"> -->
<div class= "container" style = "display:flex; flex-direction: row; flex-wrap:nowrap; width: 80% ; box-shadow:  20px 20px 60px #bebebe,
-20px -20px 60px #ffffff;
 border-radius: 50px; align-items: center; align-self: center; align-content: center; padding: 2%;">

        <div class="container" style="align-items: center;">

            <div>
                <p align = "center" style="padding-bottom: 1%;padding-top: 1%;">
                    If you don't already have an account,<br> register to create an account
                </p>
            </div>

            <div class="row">
                <div style="width: 30%; margin: 25px auto;">
            <form action="/reglog/register" method = "POST">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="name" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="email ID" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="phone" placeholder="Phone Number" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Register!</button>
            </div>
        </form>
                </div>
            </div>
        </div>
    
        <div class="container" >

            <div class="row">
                <div style="width: 30%; margin: 25px auto;">
            <form action="/reglog/login" method = "POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Login!</button>
                </div>
            </form>
                </div>
            </div>
        </div>
</div>

<p align = center style="padding-top: 3%;">This Mini project is developed as a part of Sirius Summer Internship</p>
</body>
</html> 
